@model IEnumerable<PruebaFinal.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenidoComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.codPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenidoComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codComentario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codComentario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codComentario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
