@model IEnumerable<PruebaFinal.Models.Orden>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionEntregaOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntregaOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPagoOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCancelada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.codEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.codUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionEntregaOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEntregaOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPagoOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCancelada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codOrden">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codOrden">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codOrden">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
