@model PruebaFinal.Models.Reclamos_Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reclamos_Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.codProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.codUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contenidoReclamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contenidoReclamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.respuestaReclamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.respuestaReclamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrador.codAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRevisado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRevisado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacionReclamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacionReclamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaRevisionReclamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaRevisionReclamo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codReclamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
