@model IEnumerable<PruebaFinal.Models.Lista_Espera_Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isRevisado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaSolicitudRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isRevisado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaSolicitudRevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.codEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador.codAdmin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
