@model IEnumerable<PruebaFinal.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codEmpresa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codEmpresa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codEmpresa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
