@model PruebaFinal.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombrePersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombrePersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apPaternoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apPaternoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apMaternoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apMaternoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mailPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mailPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccionPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccionPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.passwordPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.passwordPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
