@model IEnumerable<PruebaFinal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.envioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pathFotoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.codEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.envioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pathFotoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
