@model PruebaFinal.Models.Detalle_Wishlist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalle_Wishlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.codWishlist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.codProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaAnadido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaAnadido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCarrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCarrito)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
