@model IEnumerable<PruebaFinal.Models.Detalle_Wishlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wishlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaAnadido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCarrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wishlist.codWishlist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaAnadido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCarrito)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
